name: Auto Testing Spring Boot

on:
  push:
    branches: [ "main","dev" ]
  pull_request:
    branches: [ "main","dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build & test with Maven
        run: mvn -B test

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: junit-report
          path: target/surefire-reports/
